﻿@using MapperProfiles.Models

@model IEnumerable<FilmViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap-container zerogrid">
    <div id="main-content" class="col-3-3">
        <div class="wrap-content">
            <div class="movie">
                <div class="row type">
                    <div class="title">
                        <center><h2>КАТАЛОГ</h2></center>
                    </div>
                    <div class="widget wid-tag">
                        <div class="wid-content">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (var film in Model)
                    {
                        <div class="col-1-4">
                            <div class="wrap-col">
                                <div class="post">
                                    <div class="view effect">
                                        <img class="thumb" src="~/images/FilmsLogos/@film.Image.ImageLink" />
                                        <div class="mask">
                                            <a href="~/Home/GetSingleFilm?filmName=@film.Name"  class="info" title="Full Image"><img src="images/play_button_64.png" /></a>
                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                    <a href="single.html"><h3>@film.Name</h3></a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
                <center>
                    <div class="pagination">
                        <a href="#" class="page gradient">first</a>

                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <a href="#" class="page gradient">@i</a>

                        }
                        <a href="#" class="page gradient">last</a>
                    </div>
                </center>
            </div>
        </div>
    </div>

</div>