﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="edit-film" asp-action="Add" asp-controller="Film"
      enctype="multipart/form-data">

    <div class="wrap-container zerogrid">
        <button class="editButton" id="save-btn" type="submit">Сохранить</button>

        <div id="main-content" class="col-2-3">
            <div class="wrap-content">
                <article>
                    <div class="art-header">
                        <div class="col-1-3 image-film">
                            <input type="text" name="filmName" value="" class="edit-name" />
                            <div class="wrap-col film-logo">
                                <img src="~/images/FilmsLogos/No Country for Old Men.jpg" id="film-poster" style="width: 300px;height: 364px;opacity:0.3" />
                                <input type="file" name="imagePath" accept="image/x-png,image/gif,image/jpeg" id="select-image" />
                                <h4 class="edit-image-text">Кликните для изменения</h4>
                            </div>
                        </div>
                        <div class="col-2-3">


                            @Html.Partial("/Views/_Partial/ModalInput.cshtml")

                            <ul>

                                <li>
                                    <p id="genre-list">
                                        Жанры:




                                        <img src="~/images/plus.svg" class="plus-genre" alt="Plus Icon" onclick="changeFilmInfo('genre','Жанр',false,false)" />
                                    </p>
                                </li>

                                <li><p>Продюсер: <a href="#" class="produccer-text" name="produccer" onclick="changeFilmInfo('produccer','Продюссера',true,false)">Продюссер</a></p></li>
                                <li>
                                    <p id="actor-list">

                                        В главных ролях:


                                        <img src="~/images/plus.svg" class="plus-actor" alt="Plus Icon" onclick="changeFilmInfo('actor','Актера',false,false)" />
                                    </p>
                                </li>

                                <li><p>Дата Релиза: <a href="#" class="yearRelease-text" name="year" onclick="changeFilmInfo('yearRelease','Год релиза',true,true)">000</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
            </div>
            <div class="art-content">
                <textarea>

                        </textarea>
                <div class="clear"></div>
            </div>
            </article>
          
        </div>
    </div>
    
    </div>
</form>

<script type="text/javascript">
     document.addEventListener("DOMContentLoaded", () => {
         addMode();

  });
    
</script>