﻿@using MapperProfiles.Models
@using HomeCinema.Services.Helpers

@model FilmViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form id="edit-film" asp-action="Edit" asp-controller="Film"
          enctype="multipart/form-data">

        <div class="wrap-container zerogrid">

            @if (User.Identity.IsAuthenticated)
            {
                if (User.GetUserId().Contains(Model.UserId.ToString()))
                {
                    <button class="editButton" id="edit-btn" type="button">Редактировать</button>
                    <button class="editButton" style="display:none" id="cancel-btn" type="button">Отмена</button>
                    <button class="editButton" style="display:none" id="save-btn" type="submit">Сохранить</button>
                }
            }

            <div id="main-content" class="col-2-3">
                <div class="wrap-content">
                    <article>
                        <div class="art-header">
                            <div class="col-1-3 image-film">
                                <h3 style="margin:7px;" id="film-name">@Model?.Name</h3>
                                <div class="wrap-col film-logo">
                                    <img src="~/images/FilmsLogos/@Model.Image?.ImageLink" id="film-poster" style="width: 300px;height: 364px;" />
                                    <input type="file" name="imagePath" accept="image/x-png,image/gif,image/jpeg" id="select-image" />
                                </div>
                            </div>
                            <div class="col-2-3">

                                <div class="wrap-col">

                                    @Html.Partial("/Views/_Partial/ModalInput.cshtml")

                                    <ul>

                                        <li>
                                            <p id="genre-list">
                                                Жанры:

                                                @foreach (var genre in Model?.Genres)
                                                {
                                                    <a href="#" class="genre-text">@genre.Name </a>
                                                }


                                                <img src="~/images/plus.svg" class="plus-genre" alt="Plus Icon" onclick="changeFilmInfo('genre','Жанр',false,false)" style="display:none" />
                                            </p>
                                        </li>

                                        <li><p>Продюсер: <a href="#" class="produccer-text" name="produccer" onclick="changeFilmInfo('produccer','Продюссера',true,false)">@Model.Producer</a></p></li>
                                        <li>
                                            <p id="actor-list">

                                                В главных ролях:

                                                @foreach (var actor in Model.Actors)
                                                {
                                                    <a href="#" class="actor-text">@actor.Name </a>
                                                }
                                                <img src="~/images/plus.svg" class="plus-actor" alt="Plus Icon" onclick="changeFilmInfo('actor','Актера',false,false)" style="display:none" />
                                            </p>
                                        </li>

                                        <li><p>Дата Релиза: <a href="#" class="yearRelease-text" name="year" onclick="changeFilmInfo('yearRelease','Год релиза',true,true)">@Model.YearOfRelease</a></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="art-content">
                            <p id="description" name="description">
                                @Model.Description
                            </p>
                            <div class="clear"></div>
                        </div>
                    </article>

                </div>
            </div>

        </div>
    </form>


   