﻿@using MapperProfiles.Models

@model ModalViewModel  

  <div class="modal modal-info @Model.Type.ToString().ToLower()-info" style="display:none">
        <span>@Model.Text</span>
        <img src="~/images/bell.png" style="width:5%;margin-left:60%" alt="bell icon" />
    </div>
