﻿<div class="modal modal-input" style="display:none">
    <p>Вы хотите добавить</p>
    <input type="text" name="name" class="edit-name modal-text" />
    <div class="add-new-element">
        <button type="button"  onclick="changeModalState()">Отмена</button>
        <button type="button" id="modal-saveBtn" onclick="addOrEditInfo()">Сохранить</button>
    </div>
</div>