﻿@using HomeCinema.Services.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeCinema</title>
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/zerogrid.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
    <div class="wrap-body">

        <form class="box" id="loginModal" action="/Auth/Login" method="post" style="display:none">
            <h1>Вход         
            <span onclick="closeModals()" style="margin: -33px 125px; font-size: 21px; cursor: pointer;position: absolute;">&#10006;</span>
            </h1>
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" name="" value="Вход">
            <p style="font-size:18px">Нету аккаунта? <a onclick="registerModal('register')" style="font-size:18px;font-weight:600;cursor:pointer">Создать новый</a> </p>
        </form>

        <form class="box" id="registerModal" action="/Auth/Register" method="post" style="display:none">
            <h1>Регистрация <span onclick="closeModals('login')" style="margin: -77px 115px; font-size: 21px; cursor: pointer;position: absolute;">&#10006;</span></h1>
            <input type="text" name="name" placeholder="Ваше имя">
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" name="" value="Регистрация">
        </form>

        <header>
            <div class="wrap-header zerogrid">
                <div class="row">
                    <div class="col-1-2">
                        <div class="wrap-col">
                            <div class="logo"><a href="#"><img src="~/images/logo.png" /></a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="menu">
                        <nav>
                            <div class="wrap-nav">
                                <ul>
                                    <li class="active"><a href="/Home/Index">Главная</a></li>

                                    <li><a href="#">Вход</a></li>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="/Film/Add">Добавить фильм</a></li>
                                        <li><a href="single.html">Добро пожаловать @User.GetName()</a></li>
                                        <li><a href="/Account/Logout">Выход</a></li>
                                    }

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <section id="container">
            @RenderBody()
        </section>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/operationsWithGenresAndActors.js" asp-append-version="true"></script>
    <script src="~/js/modal-input.js" asp-append-version="true"></script>
    <script src="~/js/editFilm.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
